*  {
    margin: 0;
    padding: 0;
}
.homepage_header {
    background-color: black;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    align-items: center;
}

.homepage_nav_menu{
    width: 60%;
    display: flex;
    align-items: center; 
    color: white;
    justify-content: space-between;   
}

.homepage_primary_menu {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 65%;
}

.homepage_primary_menu p{
    display: inline;
    color: white;
    justify-content: space-between;
    width: 60%;
    padding-right: 5%;
    font-size: 24px;
    font-weight: 400;
    font-family:'Montserrat', sans-serif;
}

.homepage_secondary_menu {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 35%;
    align-items: center;
    padding-right: 90px;
    padding-left: 30px;
}

.homepage_secondary_menu img {
    height: 33px;
    padding-top: 3.5px;
}

.homepage_header_signin_button {
    width:160px;
    height: 48px;
    border-radius: 10px;
    color: white;
    background-color: blue;
    border: none;
}

.homepage_hero_section {
    background-color: black;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0; 
}

.homepage_hero_image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.homepage_hero_title {
    color: white;
    position: absolute;
    top:30%;
    left:15% ;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 600;
}

.homepage_hero_title {
    color: white;
    position: absolute;
    top:33%;
    left:12% ;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    font-weight: 600;
}

.homepage_hero_subtitle {
    color: white;
    position: absolute;
    top:46%;
    left:28% ;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 500;
}

.homepage_hero_button {
    color: white;
    background-color: blue;
    border-radius:13px ;
    width: 184px;
    height:    56px;
    position: absolute;
    top:57%;
    left:43% ;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 800;
    border: 0px;
}