* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f7f8fc;
}
.homepage_header {
  background-color: #ffffff;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage_logo {
  padding-left: 80px;
  width: 30%;
}

.homepage_nav_menu {
  width: 60%;
  display: flex;
  align-items: center;
  color: white;
}

.homepage_primary_menu {
  display: flex;
  color: #000000;
  justify-content: space-between;
  width: 51%;
  font-size: 24px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  margin-right: 50px;
}

.homepage_primary_menu p {
  display: inline;
}

a:link {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}

.homepage_secondary_menu {
  display: flex;
  color: #000000;
  justify-content: space-between;
  width: 30%;
  align-items: center;
  padding-right: 0px;
  padding-left: 0px;
}

.homepage_secondary_menu img {
  height: 33px;
  padding-top: 3.5px;
}

.homepage_header_signin_button {
  width: 160px;
  height: 48px;
  border-radius: 16px;
  color: white;
  background-color: blue;
  border: none;
}

.homepage_hero_section {
  background-color: black;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

.intro {
  background-image: url(Assets/Login.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 5rem 5rem 4rem 5rem;
  color: #ffffff;
}
.intro_p {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 0.0015em;
  color: #ffffff;
}
